@import "../../../style/breakpoints";
.article-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 24px;
  }
}

.article-list__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #06f9c4;
  border-radius: 10px;
}

.article-thumbnail {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 16px;
}

.article-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 16px 16px;
  height: 100%;
}

.article-info {
  width: 100%;
}

.article-info__category {
  display: flex;
  justify-content: center;
  margin: 6px 0;
  font-size: 13px;
  color: lightgrey;
}

.article-info__title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 30px 0 16px 0;
  cursor: pointer;
}

.article-info__subtitle {
  text-align: center;
  font-size: 15px;
  margin-bottom: 15px;
}

.article-action-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.create-article-button,
.edit-article-button,
.remove-article-button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 12px;
  cursor: pointer;
}

.create-article-button__container {
  text-align: center;
}
.create-article-button {
  background-color: #6d2e46;
  font-size: 1.2em;
  margin-bottom: 1.4em;
  padding: 8px 16px;
}

.edit-article-button {
  background-color: #544e66;
}

.remove-article-button {
  background-color: #ef8354;
}
