.article-title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}

.article-subtitle,
.article-category {
  text-align: center;
  font-size: 24px;
  margin-bottom: 8px;
}

.article-category{
  margin-bottom: 12px;
}

.article-abstract{
  text-align: center;
  margin-bottom: 24px;
  font-weight: 600;
}

.article-image__container{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  width: 100%;
}

.article-modification{
  margin-top: 52px;
  text-align: right;
}
