<nav class="navBar-container" id="navBar">
  <a class="navBar-icon__container" (click)="openMenu()">
    <span class="material-icons navBar-icon">menu</span>
  </a>
  <a (click)="setCategory('National')">National</a>
  <a (click)="setCategory('Economy')">Economy</a>
  <a (click)="setCategory('Sports')">Sport</a>
  <a (click)="setCategory('Technology')">Technology</a>
  <a (click)="setCategory('')">All</a>
  <input
  type="text"
  placeholder="Enter search term"
  (input)="updateFilterTerm($any($event.target).value)">
</nav>
