<div class="login-bar__container">
  <div *ngIf="!userIsLogged()" class="login-bar__element">
    <span class="material-icons login-bar__icon">person</span>
    <label for="user"></label>
    <input
      id="userId"
      name="userName"
      size="15"
      required
      placeholder="Username"
      type="text"
      value=""
      #userName="ngModel"
      [(ngModel)]="loginData.username"
    />
    <div
      *ngIf="userName.touched && userName.errors?.['required']"
      class="login-bar__input-error"
    >
      Please provide a username!
    </div>
  </div>

  <div *ngIf="!userIsLogged()" class="login-bar__element">
    <span class="material-icons login-bar__icon">password</span>
    <label for="password"></label>
    <input
      id="passwordId"
      name="passwordName"
      size="15"
      required
      value=""
      placeholder="Password"
      type="text"
      #passwordName="ngModel"
      [(ngModel)]="loginData.password"
      style="-webkit-text-security: circle"
    />

    <div
      *ngIf="passwordName.touched && passwordName.errors?.['required']"
      class="login-bar__input-error"
    >
      Please provide a password!
    </div>
  </div>
  <p *ngIf="userIsLogged()" class="login-bar__greeting">
    Hello {{ loginData.username }}!
  </p>
  <div>
    <button
      *ngIf="!userIsLogged()"
      type="button"
      class="login-bar__button"
      (click)="login()"
    >
      Login
    </button>
    <button
      *ngIf="userIsLogged()"
      type="button"
      class="login-bar__button"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</div>
<p *ngIf="error" class="login-bar__error">{{ error }}</p>
