<div class="login-bar__container">
  <div class="login-bar__element">
    <span class="material-icons login-bar__icon">person</span>
    <label for="user"></label>
    <input id="user" size="15" placeholder="Username" [(ngModel)]="loginData.username" name="username"/>
  </div>
  <div class="login-bar__element">
    <span class="material-icons login-bar__icon">password</span>
    <label for="password"></label>
    <input id="password" size="15" placeholder="Password" [(ngModel)]="loginData.password" name="password"/>
  </div>
  <div class="login-bar__element">
    <button type="button" ng-if="isLoggedIn" class="btn btn-default" ng-click="Logout()">Logout</button>
    <button type="button" ng-if="!isLoggedIn" class="btn btn-default" ng-click="login()">Login</button>
  </div>
</div>
